<!DOCTYPE html>
<html>
<head>
  <title>Aladinhalal</title>

  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

		<div id="free-shipping-div">
			<p id="free-shipping-x" style="float:left;padding-left:5px;">X</p>
			<p>
				THE GRILL IS BACK! COME IN TODAY TO TASTE OUR DELICIOUS FOOD! 🐄🐐🐑🐓🤘🤘
			</p>
		</div>

<%= yield %>

</body>
</html>
